// Импортируется один раз - в layout scss-файле.
@import "~normalize.css";

@import "@scss/utils/utils.scss";
@import "@scss/partials/custom-reset.scss";
@import "@scss/partials/fonts.css";
@import "@scss/partials/core.module.scss";
