@import "@scss/utils/utils.scss";

.header__inner_list {
  display: none;
  position: fixed;
  right: 0;
  left: 0;

  z-index: 2;
  justify-content: center;
  padding: 40px 0 20px;
  background-color: $white;
  -webkit-box-shadow: 0px 10px 13px -7px $black,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px $black, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  --animate-duration: 0.6s;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 18px;
    right: 0;
    left: 0;
    background-color: $red-500;
    opacity: 0.3;
  }
}

.header__inner_item {
  &:not(:last-child) {
    margin-right: 65px;
  }
}

.header__inner_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;

  font-weight: bold;
  color: $black-100;

  &:hover {
    box-shadow: 0 2px 0 0 $red-500;
  }

  & > svg {
    margin-bottom: 8px;
  }
}
