# Учитывай, что это подавление ошибок линтера при выводе в консоль,
# но не подавление критических ошибок для tsx-файлов

#src/components/*

src/redux/*
src/components/Pages/Order/OrderForm/validationSchema/*
src/components/T_Not Project Files/*
src/index.js
src/components/Pages/Index/MainPage.tsx
