@import "~scss/utils/utils.scss";

.price {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}

.discount {
  margin-right: 10px;
  font-size: 15px;
  color: $grey;
  text-decoration: line-through;
}
