@import "@scss/utils/utils.scss";

.checkout_modal {
  display: flex;
  position: relative;
  min-width: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: $white;

  & > img {
    width: 400px;
  }

  & > h3 {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 400;
    @media (max-width: 670px) {
      text-align: center;
    }
  }

  & > p {
    max-width: 85%;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    @media (max-width: 670px) {
      line-height: 1.3;
    }
  }
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 14px;
  right: 20px;
  z-index: 99;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 33px;
  left: 15px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
