@import "@scss/utils/utils.scss";

.wrapper {
  padding-bottom: 20px;
  background-color: $white-500;
}

.content {
  padding-bottom: 15px;
}

.section_title {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: 300;
  color: $grey;
}

.list {
  display: flex;
  flex-wrap: wrap;
  @include wrapper-negative-margins();
}
