@import "@scss/utils/utils.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 600;

  @media (max-width: 870px) {
    padding: 0 10px;
    text-align: center;
  }
}

.desc {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;

  @media (max-width: 870px) {
    padding: 0 10px;
  }
}

.img {
  align-self: center;
  margin-bottom: 35px;
  overflow: hidden;
  vertical-align: bottom;
  border-radius: 8px;
}
