@import "@scss/utils/utils.scss";

.up {
  display: inline-block;
  position: fixed;
  width: 45px;
  height: 45px;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  padding: 2px 2px 0 2px;
  border-radius: 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUUxODE4MDcxOTcxMTFFNUExRkFBODg2NzlBNkE5RjYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUUxODE4MDgxOTcxMTFFNUExRkFBODg2NzlBNkE5RjYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxRTE4MTgwNTE5NzExMUU1QTFGQUE4ODY3OUE2QTlGNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxRTE4MTgwNjE5NzExMUU1QTFGQUE4ODY3OUE2QTlGNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuTvBeAAAAE1SURBVHja7JY5boQwFIYHsQu4AR0SBUg0dDScblquwFay1IhFFGwHoKOYhhNwguQpbkZJUEhYpIn8VWBjf/LvZ+B2w2AwGMz/RVEUVVWvttI0PU3TPM+iKF5n5Tguz/O3D9q2lSTpCitBEEVRgNJxnPv9Dhd931MUdXrCdV2DLEkS1OJ5HtwOw3Bi5izLooTTNH1uD8MQGpumOcuNrFEUfe0KggC6uq4jSfJIJcMwVVXB1HEcrz2DMof9FgThGCvP82VZPu/rGr7vH1nnyPptwmtuqLVddQ41jBLeaEW4rrsrc3hLoPP6Y8IHZ46sn07OdtAZg3X/os4NwxjHEa0V3lN/3im07sfjYVnWpgGmaS7LAkHtL8wsy2Aq27a3DtB1Hb56+8WyLGuahn8hMBgM5kV5F2AA1+G/I7AXKdAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.95;
    cursor: pointer;
  }
}

.show {
  opacity: 0.8;
}
