@import "@scss/utils/utils.scss";

.summary {
  width: 45%;
  min-width: 210px;
  min-height: 150px;
  align-self: start;
  flex-grow: 1;
  margin-right: 10px;
  padding: 0 20px 20px;
  background-color: $white;
  box-shadow: -3px 4px 14px 3px $grey;

  @media (max-width: 1120px) {
    width: initial;
    align-self: center;
    order: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.caption {
  height: 64px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 64px;
  color: $black-200;
  text-align: left;
  border-bottom: 2px solid $white-500;
  background-color: $white;

  @media (max-width: 1120px) {
    text-align: center;
  }
}

.order_btn {
  display: block;
  position: relative;
  width: 100%;
  height: 54px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  color: $white;
  text-align: center;
  vertical-align: middle;
  background-color: $red;

  &:disabled {
    background-color: rgba(99, 110, 117, 0.4);
  }

  &[data-touched="true"]:disabled {
    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      top: 100%;
      left: 0;
      background: url("img/arr-lg.png") no-repeat left;
      background-size: 200px;
      animation: show-arrow 1s ease-in;

      @media (max-width: 1120px) {
        content: "Пожалуйста, заполните форму ниже";
        width: 100%;
        height: initial;
        margin-top: 5px;
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.3;
        color: $white;
        border-radius: 8px;
        background: initial;
        background-color: rgba(255, 0, 0, 0.8);
      }
    }
  }
}

@keyframes show-arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
