@import "~scss/utils/utils.scss";

.body_fixed {
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.data_wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 25px;
}

.data_block {
  height: 100px;
  margin-bottom: 20px;
  background-color: red;
}

.more {
  display: flex;
  position: absolute;
  max-width: 300px;
  bottom: -55px;
  align-items: center;
  align-self: center;
  padding: 18px 10px 18px 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: $purple;
  border: 2px solid $purple;
  border-radius: 50px;
  background-color: $white;
  transition: border-color 0.2s linear;

  &.error::before {
    display: block;
  }

  &::before {
    content: "Сбой сервера. Попробуйте позже";
    display: none;
    position: absolute;
    width: 340px;
    top: -45px;
    left: 50%;
    z-index: 12;
    padding: 6px 0;
    font-size: 19px;
    font-weight: 500;
    color: red;
    border-radius: 10px;
    background-color: lightgrey;
    transform: translateX(-50%);
  }

  &.active > .loader {
    animation: rotate 0.8s linear infinite;
  }

  &:hover {
    border-color: lighten($purple, 30%);
  }

  &:focus {
    outline: none;
  }
}

.loader {
  position: absolute;
  left: 15px;
  align-self: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
