@mixin wrapper-negative-margins($margin: 15) {
  margin-left: -$margin + px;
  margin-right: -$margin + px;
}

@mixin generate-columns-for-item(
  $item-columns,
  $offset: 30,
  $margin-bottom: 20,
  $default-columns: 12
) {
  width: calc(100% / #{$default-columns} * #{$item-columns} - #{$offset}#{px});
  margin-left: $offset/2 + px;
  margin-right: $offset/2 + px;
  margin-bottom: $margin-bottom + px;
}


@mixin generate-columns-with-max-width(
  $columns,
  $max-width: null,
  $offset: null,
  $margin-bottom: null
) {
  @if $max-width == null {
    @if $offset != null and $margin-bottom != null  {
      @include generate-columns-for-item($columns, $offset, $margin-bottom);
    } @else if $offset != null {
      @include generate-columns-for-item($columns, $offset);
    } @else if $margin-bottom != null {
      @include generate-columns-for-item($columns, $margin-bottom);
    } @else {
      @include generate-columns-for-item($columns);
    }
  } @else {
    @media (max-width: #{$max-width}#{px}) {
      @if $offset != null and $margin-bottom != null  {
        @include generate-columns-for-item($columns, $offset, $margin-bottom);
      } @else if ($offset != null) {
        @include generate-columns-for-item($columns, $offset);
      } @else if ($margin-bottom != null) {
        @include generate-columns-for-item($columns, $margin-bottom);
      } @else {
        @include generate-columns-for-item($columns);
      }
    }
  }
}
