$wrapper-max-width: 1200px;


$white: #ffffff;
$white-100: #f6f6f6;
$white-300: #d4d4d4;
$white-400: #f9f9f9;
$white-500: #efefef;
$white-600: #F8F8F8;
$white-700: #cdcdcd;
$white-800: #F3F3F3;



$black: #000000;
$black-100: #101920;
$black-200: #222222;
$black-300: #212121;
$black-350: #262626;
$black-400: #333333;
$black-500: #010101;


$grey: #828282;
$grey-100: #969696;
$grey-200: #999999;
$grey-300: #636E75;
$grey-400: #C7C9CC;
$grey-500: #878787;
$grey-600: #666666;
$grey-700: #cccccc;
$grey-800: #818489;
$grey-900: #0FF;

$red: #eb0028;
$red-100: #ff0000;
$red-500: #b8001f;

$blue: #0099cc;
$purple: #c51abb;
$purple-100: #f0f;




$main-text-color: $black;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;










