@import "~scss/utils/utils.scss";


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner {
  width: 250px;
  height: auto;
}

