@import "~scss/utils/utils.scss";

.footer_bg {
  background-color: $white-400;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; // Фикс IE11
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  @media (max-width: 590px) {
    flex-direction: column;

    // Все блоки первой вложенности, кроме копирайта (который выключили ранее) и последнего (иеонки соц. сетей)
    // получают отсуп снизу
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}


.copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
  color: $grey-200;
  text-align: left;

  @media (max-width: 1120px) {
    display: none;
  }
}

.phone {
  padding-left: 25px;
  font-size: 18px;
  color: $blue;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAABLUlEQVQ4jZXSsUtCURTH8e95RhANRU7WpjS1WL0hon9ACIIGW2oKkhZpq7Y3Cc0OoQ5BS/CWbOiPkPdEIhsbFZscAimDdxr0IT6D7jvb/XHPh3sOV6j4LSDLpJ4p2PsYlgWkI9meaXMIdCLZEvcvizEA7c6kg+FunBc0/kiT5kDAUySr87X8aA582D7hHoQHIE9x/dsccCRAuQFA6VKwf0ybRwDAykIFeAcuuPU24wP5jSGqRcDCkjoVP2UKyNSp6l+jlIBXgrkc59nJH3HdBP30EZa06Wy1cSSYBVSFWrOGcgp0gUMKdmPUnLkDPRnf/AR6gDcNhEi1eQmUAEUpI5oEOf5/hKlxvBwqZSBjvoNouW/z9AdnIFfAWnwgLEctVr1tNHEAwQ5Iagz2fgHsDFjoN+mhLwAAAABJRU5ErkJggg==') no-repeat left center;
}

.working_hours {
  margin-right: 25px;
  font-size: 16px;
  color: $black-200;
  @media (max-width: 590px) {
    margin-right: 0;
  }
}


.social_list {
  display: flex;
  align-items: center;
}

.social_list__item:not(:last-child) {
  margin-right: 15px;
}

.social_list__img {
  fill: $red;

  &:hover {
    fill: $grey-100;
  }
}



