@import "~scss/utils/utils.scss";

.item {
  display: flex;
  @include generate-columns-for-item(3);
  min-width: 220px;
  flex-direction: column;
  padding: 10px 5px 20px;
  overflow-x: hidden;

  color: $black-100;

  text-align: center;
  background-color: $white;
  transition: 0.2s linear;

  &:hover {
    box-shadow: -3px 4px 14px 3px $grey;
  }

  @media (max-width: 1030px) {
    @include generate-columns-for-item(4);
  }

  @media (max-width: 885px) {
    @include generate-columns-for-item(6);
  }

  @media (max-width: 685px) {
    @include generate-columns-for-item(12);
  }
}


.tag {
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: $white;
  text-transform: uppercase;
  background-color: $red-100;


  &__categorie {
    align-self: center;
    padding: 2px 5px;
    font-size: 10px;
  }
}

.not_in_stock {
  text-decoration: line-through;
  background-color: $grey;
}






.img {
  vertical-align: bottom;
  transition: 0.3s;
}

.title {
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;

  & > span {
    display: inline-block;

    &.color {
      font-weight: 400;
    }
  }
}


.installment {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  border-radius: 5px;
  background-color: $blue;
}

.new {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  border-radius: 5px;
  background-color: green;
}


.most_endorsed {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  font-weight: 600;
  color: $white;
  border-radius: 5px;
  background-color: $red-100;
}


%base {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  color: #001424;
  background-color: #f2f3f7;
  & > span {
    color: #e30611;
  }
}

.sim {
  @extend %base;
  font-weight: 600;
}

.gift {
  @extend %base;
  font-weight: 600;
}


.installment {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  border-radius: 5px;
  background-color: $blue;
}


.most_endorsed {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  font-weight: 600;
  color: $white;
  border-radius: 5px;
  background-color: $red-100;
}

.sim {
  align-self: center;
  margin-bottom: 10px;
  padding: 4px 8px;
  font-weight: 600;
  color: #001424;
  background-color: #f2f3f7;

  & > span {
    color: #e30611;

  }
}




