@import "@scss/utils/utils.scss";

.form {
  position: relative;
  display: flex;
  @media (max-width: 1120px) {
    flex-direction: column;
    align-items: center;
  }
}


.reset_form {
  position: absolute;
  right: 0;
  bottom: 0;
}

