@import "@scss/utils/utils.scss";

.wrp {
  margin: 40px auto;
  min-width: 60%;
  max-width: 60%;
  border: 2px solid black;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.innerPadding {
  padding: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.btn_change_page {
  background-color: red;
  color: white;
  border-radius: 5px;
  &:active {
    background-color: grey;
  }
}

.btn_add {
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;

  &:active {
    background-color: grey;
  }
}

.user_info {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}








/**
SPINNER
 */

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner {
  width: 250px;
  height: auto;
}


/***********/




