@import "@scss/utils/utils.scss";

.rules {
  padding: 0 5px;
  @media (max-width: 870px) {
    padding: 0 10px;
  }
}

.shipping_title {
  font-size: 24px;
  font-weight: 500;
  color: $grey-100;
}

.shipping_city {
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  color: $black;
}

.shipping_conditions {
  margin-left: 50px;
  font-size: 13px;
  color: $grey-100;
}

.shipping_country {
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  color: $black;
}

.payment_title {
  font-size: 24px;
  font-weight: 500;
  color: $grey-100;
}

.payment_options {
  margin-left: 50px;
  font-size: 13px;
  color: $grey-100;
}
