@import "@scss/utils/utils.scss";

.promo {
  @media (max-width: 560px) {
    text-align: center;
  }
}

.promo__main_title {
  padding-top: 10px;
  font-size: 28px;
  font-weight: 300;
  color: $grey-300;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  @media (max-width: 560px) {
    font-size: 18px;
  }
}

.promo__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  @media (max-width: 560px) {
    font-size: 14px;
  }
}

.promo__list_title {
  font-size: 16px;
  @media (max-width: 560px) {
    font-size: 14px;
  }
}
