@import "~scss/utils/utils.scss";

/*  Modal cart
================================
*/

.cart {
  display: flex;
  min-width: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: $white;

  & > h3 {
    position: relative;
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: 400;

    //&::after {
    //  content: "";
    //  position: absolute;
    //  bottom: -6px;
    //  height: 3px;
    //  width: 40%;
    //  left: 50%;
    //  transform: translateX(-50%);
    //  background-color: $black;
    //}

    @media (max-width: 670px) {
      text-align: center;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    & li {
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        margin-right: auto;
      }

      & > p {
        max-width: 260px;
        flex-grow: 1;
        margin: 0 0 0 20px;
        font-size: 18px;
        text-align: center;
      }

      & > span {
        margin-left: 20px;
        font-size: 22px;
      }
    }
  }

  & > .link {
    min-width: 200px;
    margin-bottom: 15px;
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 600;
    color: $white;
    text-align: center;
    border-radius: 3px;
    background-color: $red;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: darken($red, 10%);
    }
  }

  & > .continue {
    border-bottom: 1px dotted $black;
    cursor: pointer;
    transition: border-bottom 0.2s linear;

    &:hover {
      border-bottom: 1px dotted transparent;
    }
  }
}
