@import "@scss/utils/utils.scss";

.form {
  display: flex;
  @media (max-width: 1120px) {
    flex-direction: column;
    align-items: center;
  }
}

.formik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  & > * {
    margin: 10px;
    padding: 10px;
  }

  & > div {
    border: 2px solid red;
  }
}
